body {
  height: 100vh;
}

/* ORGANISM HEADER */
header {
  margin: 20px;
}
nav {
  padding: 20px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* ORGANISM FOOTER */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.705);
  padding: 11px;
}
footer p {
  margin: 0 33px;
}
footer img {
  align-self: flex-end;
  width: 22px;
  height: 22px;
  margin-right: 33px;
}

/* ORGANISM AUTHENTIFICATION_FORM */
.form-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
form .form-group {
  background-color: rgb(144, 231, 144);
  padding: 20px 0;
}